# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Testing / linting caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
